.footer {
  border-top: 1px solid gray;
  margin-top: 70px;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  position: relative;
}

.footer-left span {
  font-weight: 700;
}

.footer-right {
  display: flex;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .footer {
    padding: 25px 5%;
  }
}

@media (max-width: 768px) {
  .footer {
    font-size: 12px;
  }
  .footer-right {
    gap: 10px;
  }
}

@media (max-width: 450px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 25px 5%;
  }

  .footer-left {
    order: 2;
  }

  .footer-left,
  .footer-right {
    text-align: center;
    margin-top: 10px;
  }
}
